* {
  font-family: roboto;
}

.jobsList-main-background {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
@media screen and (min-width: 576px) {
  .jobsList-main-background {
    padding: 25px 50px 25px 50px;
  }
}

.job-item-background {
  color: #f1f5f9;
  background-color: #202020;
  margin-bottom: 15px;
  padding: 25px 20px 20px 15px;
  border-radius: 15px;
  line-height: 1.5;
}
@media screen and (min-width: 576px) {
  .job-item-background {
    padding: 50px 35px 35px 35px;
  }
}
.job-item-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.job-item-logo-style {
  height: 55px;
}

.job-item-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 15px;
}
.job-item-title {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 500;
}
.job-item-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.job-item-rating-icon {
  color: #fbbf24;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 0px;
}
.job-item-rating {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 576px) {
  .job-item-logo-style {
    height: 100px;
  }
  .job-item-title {
    font-size: 32px;
    margin-bottom: 18px;
  }
  .job-item-rating-icon {
    font-size: 24px;
  }

  .job-item-rating {
    font-size: 24px;
  }
}
.job-item-location-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.job-item-location-type-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.job-item-location-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.job-item-style-1 {
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.job-item-style-2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 576px) {
  .job-item-style-1 {
    font-size: 16px;
  }
  .job-item-icon-1 {
    font-size: 22px;
    margin-right: 4px;
  }
  .job-item-icon {
    font-size: 22px;
    margin-right: 4px;
  }
  .job-item-style-2 {
    font-size: 20px;
  }
}
.job-item-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.job-item-description-heading {
  font-weight: 500;
  font-size: 16px;

  color: #f8fafc;
}
.job-item-description {
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  text-align: justify;
  line-height: 1.8;
}
@media screen and (min-width: 576px) {
  .job-item-description-container {
    line-height: 1;
  }
  .job-item-description-heading {
    font-size: 26px;
  }
  .job-item-description {
    font-size: 20px;
  }
}
.website-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #6366f1;
}
.website-redirect-icon {
  margin-left: 5px;
}
.skill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
}
.each-skill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin-bottom: 20px;
}
@media screen and (min-width: 576px) {
  .each-skill-container {
    width: 30%;
  }
  .skill-container {
    justify-content: flex-start;
  }
}
.skill-logo {
  height: 45px;
  margin-right: 15px;
}

.similar-job-heading {
  color: #f1f5f9;
}
.similar-job-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
}
@media screen and (min-width: 576px) {
  .similar-job-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.similar-job-card-background {
  color: #f1f5f9;
  background-color: #202020;
  margin-bottom: 15px;
  padding: 25px 20px 20px 15px;
  border-radius: 15px;
  line-height: 1.5;
}
@media screen and (min-width: 576px) {
  .similar-job-card-background {
    margin-right: 10px;
  }
}
.life-at-company-desscription-container {
  display: flex;
  flex-direction: column;
}
.life-at-company-image {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .life-at-company-desscription-container {
    flex-direction: row;
  }
  .life-at-company-image {
    margin-left: 25px;
  }
}
