.home-main-background {
  display: flex;
  flex-direction: column;
}
.navbar-section {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
}
.navbar-logo {
  width: 75px;
}

@media screen and (min-width: 576px) {
  .navbar-section {
    padding: 20px 50px 20px 50px;
  }
  .navbar-logo {
    width: 120px;
  }
  .navbar-link {
    padding-left: 50px;
  }
}

.large-devices-buttons {
  display: none;
  padding-left: 0px;
  margin: 0px;
}
.small-devices-buttons {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  align-items: center;
}
.list-item-style-small-devices {
  margin-bottom: 0px;
}
@media screen and (min-width: 576px) {
  .small-devices-buttons {
    display: none;
  }
  .large-devices-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.link-item-style {
  text-decoration: none;
  margin-left: 5px;
}
.header-list-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
.logout-button-large-devices {
  display: none;
}

.logout-icon-small-devices {
}
@media screen and (min-width: 576px) {
  .logout-icon-small-devices {
    display: none;
  }
  .logout-button-large-devices {
    display: block;
    background-color: #6366f1;
    border: none;
    border-radius: 5px;
    color: #f8fafc;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
}
.home-jobs-button {
  background-color: transparent;
  color: #f8fafc;
  font-weight: 400;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.icon-button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.icons-color {
  color: #f8fafc;
  font-size: 22px;
}
.icon-button-logout-icon-small-devices {
  margin-left: 15px;
  background-color: transparent;
  border: none;
}
